body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 600px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ff6900;
}

h2 {
    text-align: center;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

button {
    background: #ff6900;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}